.button {
  @include flex-center(true);

  column-gap: 4px;

  padding: 14px 20px;
  font-weight: var(--font-weight-semibold);
  text-align: center;
  color: var(--color-text-light);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-s);
  user-select: none;
  cursor: pointer;
  transition: var(--transition-normal);
  will-change: transform;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.09);
    color: var(--color-primary-hover);
  }

  &:active {
    transform: scale(0.97);
    filter: brightness(0.9)
  }

  &:has(.button__icon:only-child) {
    @include square(fluid-to-laptop(56, 44));

    padding: 0;
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-icon);

    &:has(.button__icon:only-child) {
      @include square(50px);

      .button__icon {
        --icon-size: #{fluid-to-laptop(36, 24)};
      }
    }
  }
}