.filter-group {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__title {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__icon {
    transition: transform var(--transition-fast);

    &--is-open {
      transform: rotate(180deg);
    }
  }

  &__list-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows var(--transition-fast);

    &--is-open {
      grid-template-rows: 1fr;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    margin-top: 16px;
  }
}