.shop-catalog {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__header-action {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__header-controls {
    display: flex;
    align-items: center;
    gap: 12px;
  }


  &__btn {
    padding: 10px 20px;
    border: var(--border-width-s) solid var(--color-border);
    border-radius: var(--border-radius-s);
    color: var(--color-text-secondary);
    transition: border-color var(--transition-fast), color var(--transition-fast);

    &:hover {
      border-color: var(--color-border-dark);
      color: var(--color-text);
    }
  }
}

