.game-grid {
  &__inner {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 400px));
    gap: 24px;

    .game-card:hover {
      .game-card__inner {
        transform: scale(1.02);
      }

      .game-card__img-game {
        transform: scale(1.03);
      }
    }

    @include tablet {
      grid-template-columns: repeat(2, minmax(0, 280px));
      gap: 16px;
    }

    @include mobile {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 12px;
    }
  }
}